//
//  prd.xcconfig
//  TestSpira
//
//  Created by Pedro Alonso Daza B on 30/04/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
bundle_id = spira.com.TestSpiraIos
app_name = Test Spira
google_key = 418557106535-tiegshva1vq4hg83u8196vppuabff6uq.apps.googleusercontent.com
BASE_UREL = http:/$()/44.215.48.103:5002
API_KEY = cf258ecd5d9e4f019d9de2ffe169ebb3
URL_LIST_PRODUCTS = https:/$()/fakestoreapi.com/products?limit=&{number}
URL_DETAIL_PRODUCT = https:/$()/fakestoreapi.com/products/&{idProduct}
